/* SIDEBAR  */
.sidebar nav div:hover a {
    color: #fff;
}

#playlist div:hover a {
    color: #fff;
}

#playlist li:hover a {
    color: #fff;
}

.side-footer .app:hover a {
    color: #fff;
}

/* HEADER  */
main header a:hover {
    scale: 1.1;
}

/* MAIN CONTENT  */
#main-content nav li:hover div {
    background-color: #9dfd1f;
}

#main-content a:hover {
    color: #fff;
}

.card {
    position: relative;
}

.col-2:hover .card img {
    opacity: 0.4;
}

.col-2:hover .card .overlay {
    display: block;
    position: absolute;
    color: #eee;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

/* FOOTER  */
footer .progression:hover .bar span {
    background-color: #9dfd1f;
}

footer .progression:hover .bar span::after {
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

footer #song span:hover {
    text-decoration: underline;
    color: #fff;
}

footer .save a:hover {
    color: #fff;
}

footer .fa-circle-play:hover {
    scale: 1.2;
}