/* GENERICS */
body {
    color: rgb(156, 156, 156);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(156, 156, 156);
}

h1,
h2,
h3,
h4 {
    color: #eee;
}


/* SIDEBAR */
.sidebar {
    width: 18rem;
    background-color: black;
    flex-direction: column;
    font-weight: 600;
    overflow-y: auto;
}

.sidebar #logo {
    height: 100px;
}

#logo img {
    padding: 20px;
    height: 100%;
}

.sidebar nav>div {
    height: 3rem;
    padding: 8px 0;
}

.sidebar nav div:first-child {
    border-left: 3px solid #9dfd1f;
}

.sidebar nav img {
    vertical-align: middle;
    padding-left: 20px;
}

#playlist h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 20px;
}

#playlist>div {
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

#playlist ul {
    padding-left: 20px;
    min-height: 110px;
    max-height: calc(100vh - 118px - 144px - 100px);
    overflow: auto;
}

#playlist li {
    line-height: 2.5rem;
    font-size: 0.9rem;
}

#playlist .add {
    background-color: #a3a3a3;
    height: 2rem;
    width: 2rem;
    text-align: center;
    margin-right: 10px;
    color: black;
}

#playlist .add span {
    font-size: 2rem;
    line-height: 2rem;
}

.side-footer {
    padding-left: 20px;
    margin-top: auto;
}

.side-footer div {
    height: 30px;
    margin: 1rem 0;
    flex-direction: row;
    gap: 1rem;
}

.side-footer a {
    align-items: center;
}

.side-footer .user a {
    height: 40px;
}

.side-footer .app {
    border-bottom: 1px solid #a3a3a3;
}

.side-footer .user img {
    margin-right: 20px;
    width: 40px;
    background-color: #a3a3a3;
    border-radius: 50%;

}

/* MAIN */
.top-content {
    height: calc(100vh - var(--footer-height));
    height: var();
}

main {
    background-color: #141922;
    width: calc(100% - 18rem);
    overflow: auto;
}

/* HEADER  */
main header {
    background-color: rgba(0, 0, 0, 0.8);
    height: var(--header-height);
    width: calc(100% - var(--sidebar-width));
    position: fixed;
    /* z-index: 1; */
    justify-content: flex-end;
    align-items: center;
}

main header a {
    line-height: 20px;
    padding: 15px 40px;
    border: 1px solid #eee;
    border-radius: 25px;
    margin-right: 35px;
    font-weight: 700;
    color: #eee;
}

/* MAIN CONTENT  */
#main-content {
    padding: 120px 0;
}

#main-content section {
    padding: 0 20px;
}

/* NAVBAR  */
#main-content ul {
    margin: 0 auto;
}

#main-content ul li {
    padding: 0 15px;
}

#main-content nav li div {
    height: 3px;
    width: 40%;
    border-radius: 2px;
    background-color: transparent;
    margin: 0 auto;
}

.row {
    max-width: 1800px;
    margin: 0 -10px;
}

.card {
    padding: 10px;
}

.card-text {
    text-align: center;
}

/* RECENTLY PLAYED  */
#recently-played {}

/* CREATED FOR  */

/* POPULAR ARTIST  */
#popular-artist img {
    border-radius: 50%;
}

/* FOOTER */
footer {
    background-color: #313131;
    height: var(--footer-height);
    /* position: fixed; */
    /* z-index: 1; */
}

/* SONG  */
#song {
    max-width: 30%;
}

footer #song div {
    flex-direction: column;
}

footer #song img {
    margin: 0 15px;
    height: 60%;
}

footer .save {
    margin-left: auto;
}

footer .save a {
    margin-left: 10px;
}

/* CONTROLS */
#controls {
    flex-direction: column;
    /* max-width: 500px; */
}

#controls a,
#volume a {
    color: #eee;
    margin: 0 10px;
}

#controls .fa-circle-play {
    font-size: 1.5rem;
}

.progression {
    padding: 10px 0;
    min-width: 200px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    margin: 0 15px;
    display: inline-block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: rgb(71, 71, 71);
}


/* VOLUME  */
#volume {}

#volume a {
    color: #eee;
}

#volume .progression {
    width: 150px;
}

.bar span {
    display: block;
    height: 4px;
    width: 30%;
    background-color: #bdbdbd;
    border-radius: 2px;
    position: relative;
}