/* GENERICS */
body {
    color: rgb(156, 156, 156);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(156, 156, 156);
}

h1,
h2,
h3,
h4 {
    color: white;
}

#playlist h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* ASIDE */
aside {
    width: 20rem;
    background-color: black;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 0 15px;
    font-weight: 600;
    overflow: auto;
}

aside #logo {
    height: 100px;
}

#logo img {
    padding: 20px;
    height: 100%;
}

aside nav>div {
    height: 4rem;
    padding: 8px 0;
    line-height: 4rem;
}

aside nav img {
    vertical-align: middle;
}

.aside-footer div {
    height: 20px;
    line-height: 20px;
    margin: 1rem 0;
    flex-direction: row;
}

.aside-footer .user {}

#playlist>div {
    align-items: center;
}

#playlist ul {
    flex-shrink: 1;
    overflow: auto;
}

#playlist li {
    line-height: 3rem;
}

.add {
    background-color: #a3a3a3;
    height: 3rem;
    width: 3rem;
    text-align: center;
    margin-right: 10px;
    color: black;
}

.add span {
    font-size: 3rem;
    line-height: 3rem;
}

.aside-footer {
    margin-top: auto;
}

/* MAIN CONTENT                                     cambia classe */
.pinco-pallo {
    height: calc(100vh - 100px);
}

main {
    background-color: #141922;
    width: calc(100% - 20rem);
    overflow: auto;
}

main header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: calc(100% - 20rem);
    position: fixed;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
}

main header a {
    line-height: 30px;
    padding: 15px 40px;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 10px;
    font-weight: 700;
    color: white;
}

#main-content {
    padding: 130px 0;
}


#main-content ul {
    margin: 0 auto;
}

#main-content ul li {
    padding: 0 15px;
}

/* FOOTER */
footer {
    background-color: #525252;
    height: 100px;
    /* position: fixed; */
    /* z-index: 1; */
}

.bar {}

.progression {}

.volume {}