/* UTILS */

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

/* VARIABLES */
:root {
	--sidebar-width: 18rem;
	--header-height: 5.5rem;
	--footer-height: 5.5rem;
	--primary: red;
	--paddings: 2px 10px;
}